<%
	var vo = data;
%>
	<li data-no='<%=vo.no %>'>
		<strong><%=vo.name %></strong>
		<p>
			<%=vo.message.replace(/\n/g, '<br/>') %>
		</p>
		<strong></strong>
		<a href='' data-no='<%=vo.no %>'>삭제</a>
	</li>